@using App.Infrastructure.CrossCutting.Identity.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Login> SignInManager
@inject UserManager<Login> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav ">
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="~/Admin/dist/img/avatar.png" class="user-image" alt="User Image">
                <span class="hidden-xs">Profile</span>
            </a>
            <ul class="dropdown-menu">
                <li class="user-header">
                    <img src="~/Admin/dist/img/avatar.png" class="img-circle" alt="User Image">
                    <p>
                        @UserManager.GetUserName(User)
                        <small>Member since Nov. 2012</small>
                    </p>
                </li>

                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a  type="submit" 
                            class="nav-link btn btn-link text-dark"
                            asp-controller="MyDetails"
                            asp-action="Index"
                            >Edit</a>

                    </div>
                    <div class="pull-right">
                        <form class="form-inline" 
                              asp-area="Identity" 
                              asp-page="/Account/Logout" 
                              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                              method="post" >
                            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </div>
                </li>

            </ul>
        </li>
        <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"> Register </a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"> Login </a></li>
    </ul>
}