@using App.Infrastructure.CrossCutting.Identity.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Login> SignInManager
@inject UserManager<Login> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout"
          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
          method="post" id="logoutForm" class="navbar-right">

        <ul class="nav navbar-nav ">
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="~/Admin/dist/img/avatar.png" class="user-image" alt="User Image">
                    <span class="hidden-xs">Profile</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <img src="~/Admin/dist/img/avatar.png" class="img-circle" alt="User Image">
                        <p>
                            @UserManager.GetUserName(User)
                            <small>Member since Nov. 2012</small>
                        </p>
                    </li>

                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <button class="btn btn-default btn-flat"
                                    asp-area="Identity"
                                    asp-page="/Account/Manage/Index"
                                    title="Manage">
                                Edit
                            </button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default btn-flat"
                                    asp-area="Identity"
                                    asp-page="/Account/Login"
                                    title="Login">
                                Sign Out
                            </button>
                        </div>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"> Register </a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"> Login </a></li>
    </ul>
}